* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: Snell Roundhand, cursive;
}

.wrapper {
    height: 90vh;
    display: flex;
    position: relative;
    width: 90vh;
    margin: auto;
}

.wrapper-top {
    display: flex;
    position: relative;
    width: 90vh;
    margin: auto;
}

.wrapper-normal {
    height: 90vh;
    display: flex;
    position: relative;
    width: 130vh;
    margin: auto;
}

.wrapper-hard {
    height: 90vh;
    display: flex;
    position: relative;
    width: 175vh;
    margin: auto;
}

.wrapper-hello {
    text-align: center;
    display: flex;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .wrapper-hello {
        display: block;
    }
    .wrapper-hello .main-hello {
        display: flex;
        width: 90vh;
        height: 30vh;
    }
    .wrapper-hello .imgTitle {
        display: flex;
        width: 50vh;
        height: auto;
        margin: auto;
        align-self: auto;
        margin-bottom: 25px;
    }
    .title h4,
    h5 {
        font-size: medium;
    }
}

.main {
    text-align: center;
    font-family: Snell Roundhand, cursive;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.title {
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.margin {
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: black;
}

.box-margin {
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: black;
    width: calc(33.333% - 10px);
    height: 50px;
    margin: auto;
    display: flex;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 5px;
}

.easy:hover,
.normal:hover,
.hard:hover {
    text-decoration: none;
    transform: scale(0.95);
    transition: transform 0.4s;
}

.game {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    background-color: burlywood;
    border-radius: 25px;
    border: 3px solid brown;
    perspective: 1000px;
    position: absolute;
}

.finish {
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    perspective: 1000px;
    position: absolute;
    background-image: url('img/finish-back.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.text {
    background-color: aliceblue;
    width: 200px;
    height: 50px;
    margin: auto;
    display: flex;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.box:hover {
    cursor: pointer;
    transform: scale(0.97);
    transition: transform 0.4s;
}

.text-h3 {
    background-color: aliceblue;
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.text-box {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: auto;
    font-size: large;
    font-weight: 400;
}

.easy {
    background-color: rgb(4, 255, 4);
}

.normal {
    background-color: rgba(240, 255, 32, 0.852);
}

.hard {
    background-color: red;
}

.box {
    background-color: aliceblue;
    width: calc(33.333% - 10px);
    height: 50px;
    margin: auto;
    display: flex;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 5px;
}

.text-time {
    margin: auto;
    width: 410px;
    font-family: Snell Roundhand, cursive;
}

.finish.visible {
    visibility: visible;
}

.finish.hidden {
    visibility: hidden;
}

.img:active,
.text:active,
.text-h3:active {
    transform: scale(0.97);
    transition: transform 0.4s;
}

.finish h3,
h4,
h5 {
    font-family: Snell Roundhand, cursive;
    margin-bottom: 20px;
    margin: auto;
    font-size: medium;
}

.img {
    margin: 20px;
    width: 80%;
    height: auto;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.img-hard {
    margin: 20px;
    width: 40%;
    height: auto;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.imgTitle {
    margin: 20px;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    display: block;
    width: 90vh;
    height: 90vh;
}

.main-hello {
    display: block;
    width: 90vh;
    height: 90vh;
    text-align: center;
    font-family: Snell Roundhand, cursive;
    margin-bottom: 20px;
    margin: auto;
    align-content: center;
    position: relative;
}

.title-hello {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.title-hello h5 {
    margin: 10px;
}

.card {
    margin: 5px;
    position: relative;
    transform: scale(1);
    border-radius: 17px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-easy {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
}

.card-normal {
    width: calc(16.666% - 10px);
    height: calc(33.333% - 10px);
}

.card-hard {
    width: calc(12.5% - 10px);
    height: calc(33.333% - 10px);
}

.no-event {
    pointer-events: none;
}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.98);
    transition: transform 0.2s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    border-radius: 15px;
    background-color: burlywood;
    backface-visibility: hidden;
    pointer-events: none
}

.front {
    transform: rotateY(180deg);
}